body {
    font-family: Helvetica, Verdana, Arial, sans-serif;
}

div {
    border: 0px dashed green;
    margin: 0px;
    padding: 0px;
    float: left;
}

div.LibItem {
    border: 1px solid red;
    width: 95%;
    margin-top: 5px;
    margin-bottom: 5px;
}

div.Public {
    width: 80%;
}

div.BookDescription {
    margin: 5px;
}

div.ImageContainer {
    margin: 5px;
}

div.Toggler {
    float: right;
    margin: 10px;
}

