body {
    font-family: Helvetica, Verdana, Arial, sans-serif;
}

textarea {
    width: 100%;
    height: 10%;
    font-family: Helvetica, Verdana, Arial, sans-serif;
    font-size: 10pt;
}
div#UserPhoto {
    height: 150;
    margin: 2px;
}
div.Sub_BlockWrapper {
    border: 1px dashed green;
    padding: 5px;
    margin: 5px;
}

div.BlockWrapper {
    border: 1px dashed red;
    padding: 10px;
    margin: 5px;
}

div.PanelWrapper {
    float: left;
    width: 50%;
    border: 1px solid black;
    padding: 5px;
    margin: 2px;
}

#Shortcuts form {
    float: left;
}

h1 {
    margin: 1px;
}

h2 {
    font-size: 14pt;
    margin: 1px;
}

form {
    float: none;
    margin: 10px;
}

input.Date {
    width: 12ch;
}

input.Time {
    width: 6ch;
}

input.Currency {
    width: 5ch;
}

form.GuestComment textarea {
    width: 50%;
}

table, th, td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
}

td, th {
    padding: 5px;
}

th {
    background-color: green;
    color: white;
}

td.Numeric {
    text-align: right;
}

