div#Navigation ul {
    text-decoration: none;
    display: inline;
}

div#Navigation li {
    display: inline;
    padding: 5px;
    background-color: #000000;
    color: #ffffff;
    float: left;
}

div#Navigation li:hover {
    background-color: #555555;
}

div#Navigation a {
    text-decoration: none;
    color: #ffffff;
}