{% extends 'basepage.html' -%}

{% block head -%}
<title>About - Too Much Information!</title>
<link type="text/css" rel="stylesheet" href="/stylesheets/userpage.css">
{% endblock -%}

{% block content -%}
<div id="aboutpage">
<h1>2017-12-28</h1>
<h2>About This Site</h2>
<h3>Why would anybody do this?</h3>
<p>Hullo, I am <a href="/u/ryanotron">Ryan</a>. I collect data about myself like people collect stamps. Well, like people used to collect stamps. What do we collect nowadays, Karma?</p>

<p>The impetus was likely when I decided to record my sleep time. I started recording my expenses before that, but everybody does that, right? I was tired near every morning and I reckon I might not be sleeping enough. So how much would be enough? Well, I slept in every weekend---like, until late afternoon---so the problem kind of reset itself every week. It might be the case that I was accumulating sleep debt during the weekdays and paying it off over the weekend. So, if I just sum my sleep hours over a week and divide it by seven, I would get my ideal sleep hours, right? Thus started the quest for data collection</p>

<p>I started with a spreadsheet, but with this site, I can record data from my phone when I'm away from a computer with a synched copy of my spreadsheet. Also, it makes it easy for me to show off things in fancy charts. This might also be an ideal answer to "how are you?". I have a mind to just show my page if someone asks me how I am, which rarely happen (har! har! Ryan has no friends!).</p>

<h3>What can be recorded</h3>
<p>I can record a few more things than coffee times and sleep times (you can too, if you have an account, which you can make <a href="/signup">here</a> provided you have a beta key from yours truly). I can record two types of activities: those that do not have duration and those that do. The former part includes coffee, tea, etc. The later includes sleep, work, study, etc. There are things that may qualify for both, like showers, haircuts, nail trimmings and such. I record mine in the former category, but if I suspect I get stuck in the lather-rinse-repeat loop too often, I'd move shower to later category.</p>

<p>Then meals. Meals have a special category, you can record when, where, what (the menu), which (its category: breakfast, lunch, dinner) and how much (it goes directly to your expense record). You can add a photo for each meal entry too, if you're into that kind of thing (why would you do that?)</p>

<p>Also travels, for which you can record origin, departure, and timings (start, end, duration, choose two). Great if you want to assess how much nap you can get during commute and cut as many minutes from your main sleep accordingly (more time for video games!). It would be neat if I could draw a weighted directional graph of my travels, but programming is hard (or I am lazy).</p>

<p>Books and games libraries. Tell the world what you're reading now and show them damnit you're better read than all those plebs who can't even spell definitely right! Only books and games for now, because those are what I'm interested in. Music is a logical extension, I suppose.</p>

<p>You get to put a status update on top of your page too. None of that 140 characters limit either. Insult people and their grandmothers in greater details!</p>

<p>Oh, people also get to comment on you.</p>

<p>So, to summarize, by signing up, you get build these kinds of databases:
    <ul>
        <li>untimed activities
        <li>timed activities
        <li>meals
        <li>travels
        <li>books and games libraries
    </ul>
</p>

<h3>What can be shown?</h3>
<p>Just the thing in my page. I haven't figured out a way to let you arrange a custom page yet. I may lose interest in the project, so it might never happen.</p>

<h3>Your site is bad and you should feel bad</h3>
<h4>But I like the concept</h4>
<p>Fork me on <a href="http://github.com/ryanotron">github</a>. Make a worse version yourself. Fork you too!</p>
</div>
{% endblock -%}
