{% extends 'basepage.html' %}

{% block content %}
<h2>Activity list for {{user.salutation}} {{user.realname}}</h2>
<table class="Presentation">
    <tr>
        <th>name <th>when (UTC) <th>time zone <th>when (local)
    {% for act in activities %}
    <tr>
        <!--<td>{{act.name}} 
        <td>{{(act.when + datetime.timedelta(hours = user.timezone)).strftime('%d/%m/%Y - %H:%M')}} 
        <td class="Numeric">{{'%2.2f' % ((datetime.datetime.utcnow() - act.when).total_seconds()/(3600.0))}}-->
        <td>{{act.name}}
        <td>{{(act.when).strftime('%d/%m/%Y - %H:%M')}}
        <td clas="Numeric">{{act.timezone}}
        <td>{{(act.when + datetime.timedelta(hours = act.timezone)).strftime('%d/%m/%Y - %H:%M')}}
    {% endfor %}
</table>
{% endblock %}
