{% extends 'basepage.html' -%}

{% block head -%}
<title>Blog Panel - {{user.salutation}} {{user.realname}}</title>
<link type="text/css" rel="stylesheet" href="/stylesheets/blog.css">
{% endblock -%}

{% block content -%}
<div class="FullWrapper">
{% if posts -%}
    <table>
        <tr>
            <th>title
            <th>posted
            <th>updated
            <th>privacy
            <th>category
            <th>edit
    {% for post in posts -%}
        <tr>
            <td>{{post.title}}
            <td>{{post.posted.strftime('%d/%m/%Y - %H:%M')}}
            <td>{{post.posted.strftime('%d/%m/%Y - %H:%M')}}
            <td>{{post.privacy}}
            <td>{{post.category}}
            <td><a href="/u/{{user.username}}/blog/{{post.key().id()}}/edit">edit</a>
    {% endfor -%}
    </table>
{% else -%}
    <p>You have not posted anything yet</p>
{% endif -%}
<div class="Wrapper">
    <h2>Blog-wide settings</h2>
    <form method="post">
        Headline <input type="text" name="blog_headline" value="{{userconf['blog_headline']}}">
        <input type="submit">
    </form>
    <form method="post" action="/blog_change_default_categories">
        <div class="Wrapper">
            <p>Shown categories. Tick to hide by default</p>
            {% if public_categories -%}
            <ul>
                {% for cat in public_categories -%}
                <li><input type="checkbox" name="to_private" value="{{cat}}">{{cat}}
                {% endfor -%}
            </ul>
            {% else -%}
            <p>There is no shown category</p>
            {% endif -%}
        </div>
        <div class="Wrapper">
            <p>Hidden categories. Tick to show by default.</p>
            {% if private_categories -%}
            <ul>
                {% for cat in private_categories -%}
                <li><input type="checkbox" name="to_public" value="{{cat}}">{{cat}}
                {% endfor -%}
            </ul>
            {% else -%}
            <p>There is no private category</p>
            {% endif -%}
        </div>
        <input type="submit" value="make changes">
    </form>
</div>
</div>
{% endblock -%}