{% extends 'basepage.html' -%}
{% block head -%}
<title>Blog - New Post- {{user.salutation}} {{user.realname}}</title>
<link type="text/css" rel="stylesheet" href="/stylesheets/blog.css">
{% endblock -%}

{% block content -%}
<div id="BlogNewpostOverWrapper" class="FullWrapper">
    <h2>{{user.salutation}} {{user.realname}}</h2>
    <form method="post">
        Title<input type="text" name="title"><br>
        Text<br>
        <textarea name="content"></textarea><br>
        Privacy<input type="text" name="privacy" value="3"><br>
        Category<input type="text" name="category"><br>
        <div class="CategoryListing">
            <p>Previous categories:</p>
            <ul>
                {% for cat in blog_categories -%}
                <li>{{cat}}
                {% endfor -%}
            </ul>
        </div>
        <input type="submit">
    </form>
</div>
{% endblock -%}