{% extends 'basepage.html' %}

{% block head %}
<title>HACK</title>
<link type="text/css" rel="stylesheet" href="/stylesheets/userpage.css">
{% endblock %}

{% block content %}
    <h1>You have Messed up!</h1>
    <div class="Block" id="BetaKeys">
        <h2>Add one beta key</h2>
        <form method="post">
            <input type="text" name="betakey">
            <input type="submit" value="add a key">
        </form>
    </div>

    <div class="Block" id="Add_Timezones">
        <h2>Add Timezones</h2>
        <form method="post" action="/addtimezones">
            <input type="submit" value="add them timezones">
        </form>
    </div>
{% endblock %}