{% extends 'basepage.html' -%}

{% block head -%}
<title>Image Gallery - {{user.salutation}} {{user.realname}}</title>
<link type="text/css" rel="stylesheet" href="/stylesheets/main.css">
{% endblock -%}

{% block content -%}
<div class="OverWrapper">
    {% for key in imdict.keys() -%}
    <div class="CategoryWrapper">
        <h2>Category: {{key}}</h2>
        {% for im in imdict[key] -%}
        <div class="ImageWrapper">
            <img src="/img?img_key={{im.key}}">
            <p><a href="http://wwww.too-much-info.appspot.com/img?img_key={{im.key}}">
            Permalink</a></p>
            <p>Uploaded {{im.uploaded.strftime('%d/%m/%Y - %H:%M')}} UTC</p>
        </div>
        {% endfor -%}
    </div>
    {% endfor -%}
</div>
{% endblock -%}