<script type="text/javascript">
    google.load('visualization','1', {packages:['corechart']});
    google.setOnLoadCallback(drawChart)
    function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('date', 'Date');
        data.addColumn('number', 'cups');
        {% for cup in daily_cups -%}
        data.addRow([new Date({{cup[0].year}}, {{cup[0].month - 1}}, {{cup[0].day}}), {{cup[1]}}]);
        {% endfor %}
        var options = {'height': 360,
                       'lineWidth': 1,
                       'pointSize': 3,
                       vAxis: {format: '##', title: 'Cups'}};

        var chart = new google.visualization.LineChart(document.getElementById('coffee_chart'));
        chart.draw(data, options);
    }
</script>
