<script type="text/javascript">
    google.setOnLoadCallback(drawSleepChart);
    function drawSleepChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('date', 'Date');
        data.addColumn('number', 'sleep hours');

        {% for sleep in sleep_stats['sleep_list'] -%}
        data.addRow([new Date({{sleep[0].year}}, {{sleep[0].month - 1}}, {{sleep[0].day}}), {{'%2.2f' % sleep[1]}}]);
        {% endfor -%}

        var options = {height: 400,
                       pointSize: 3,
                       lineWidth: 1,};
        var chart = new google.visualization.LineChart(document.getElementById('sleep_chart'));
        chart.draw(data, options);
    }
</script>