{% extends 'basepage.html' -%}

{% block head %}
<title>{{user.salutation}} {{user.realname}} - Music Library</title>
<link type="text/css" rel="stylesheet" href="/stylesheets/library.css">
{% endblock %}

{% block content -%}
<div class="OverWrapper">
    {% if songs -%}
    {% for song in songs -%}
    <div class="LibItem">
        <div class="Public">
            <b>{{song.title}}</b>
            {%- if song.artist %} by {{song.artist}}{% endif %}
            {%- if song.album %} on {{song.album}}{% endif %}
            {%- if song.year %} ({{song.year}}){% endif %}
            <br>Last reported listen: {{(song.last_report + datetime.timedelta(hours = user.timezone)).strftime('%d/%m/%Y - %H:%M')}} UTC+{{user.timezone}}
            ({{'%2.2f' % ((datetime.datetime.utcnow() - song.last_report).total_seconds()/3600.0)}} hours ago).
            {%- if song.url %}<br><a href="{{song.url}}">Listen here</a>{% endif %}
        </div>
        {% if sameuser -%}
        <div class="Toggler">
            <form action="/reportmusic" method="post">
                <input type="hidden" name="key" value="{{song.key()}}">
                <input type="submit" value="Just listened">
            </form>
        </div>
        {% endif -%}
    </div>
    {% endfor -%}
    {% else -%}
    <p>{{user.salutation}} {{user.realname}} is not a known appreciator of music.</p>
    {% endif -%}
</div>
{% endblock -%}