{% extends 'basepage.html' %}

{% block head %}
<title>Panel ({{user.username}}) - Too Much Information!</title>
<link type="text/css" rel="stylesheet" href="/stylesheets/userpage.css">
{% endblock %}

{% block content %}
<div class="OverWrapper" id="PanelWrapper">
    <h1 class="Header" id="PanelHeader">What have you done, {{user.salutation}} {{user.realname}}?</h1>
    <div class="Block" id="Shortcuts">
        <h2 class="PanelCategory">Quick updates</h2>
        <div class="SubBlock">
            <!--coffee-->
            <form action="/inspostactivity" method="post">
                <input type="hidden" name="activity_name" value="coffee">
                <input type="submit" value="I just had coffee!">
            </form>
        </div>
        
        <div class="SubBlock">
            <!--shower-->
            <form action="/inspostactivity" method="post">
                <input type="hidden" name="activity_name" value="shower">
                <input type="submit" value="I just showered!">
            </form>
        </div>
        
        <div class="SubBlock">
            <!--shave-->
            <form action="/inspostactivity" method="post">
                <input type="hidden" name="activity_name" value="shave">
                <input type="submit" value="I just shaved!">
            </form>
        </div>
        
        <div class="SubBlock">
            <!--haircut-->
            <form action="/inspostactivity" method="post">
                <input type="hidden" name="activity_name" value="cut hair">
                <input type="submit" value="I just got a haircut!">
            </form>
        </div>
    </div>
    
    <div class="Block" id="UserMessage">
        <h2 class="PanelCategory">Tell your stalkers something!</h2>
        <form method="post" action="/postmessage">
            <textarea name="user_message"></textarea><br>
            <input type="submit">
        </form>
    </div>
    
    <div class="Block" id="UserPhoto">
        <h2 class="PanelCategory">Show your face to your stalkers</h2>
        <form method="post" enctype="multipart/form-data" action="/postimage">
            <input type="file" name="imagefile">
            <input type="hidden" name="img_category" value="profile_img">
            <input type="submit">
        </form>
    </div>
    
    <div class="Block" id="GeneralActivity">
        <div class="FullSubBlock">
        <h2 class="PanelCategory">General Activity</h2>
        <form action="/postactivity" method="post">
            Name <input type="text" name="activity_name"><br>
            {% if activity_categories -%}
            <p>Recorded activity names:</p>
            <div class="CategoryListing"><ul>
                {% for activity in activity_categories -%}
                <li>{{activity}}
                {% endfor -%}
            </ul></div>
            {% endif -%}
            Day <input maxlength="10" class="Date" type="text" name="activity_day" value="{{(datetime.datetime.utcnow() + datetime.timedelta(hours = user.timezone)).strftime('%d/%m/%Y')}}"><br>
            Time <input class="Time" type="text" name="activity_time" value="{{(datetime.datetime.utcnow() + datetime.timedelta(hours = user.timezone)).strftime('%H:%M')}}">
            GMT <input type="text" name="timezone" value="{{'%+2.1f' % user.timezone}}"><br>
            <input type="submit">
        </form>
        </div>
    </div>

    <div class="Block" id="GeneralTimedActivity">
        <div class="FullSubBlock">
            <h2 class="PanelCategory">General Timed Activity</h2>
            <form action="/posttimedactivity" method="post">
                Name <input type="text" name="act_name"><br>
                {% if timed_activity_categories -%}
                <p>Recorded timed activity names:</p>
                <div class="CategoryListing"><ul>
                    {% for activity in timed_activity_categories -%}
                    <li>{{activity}}
                    {% endfor -%}
                </ul></div>
                {% endif -%}
                Start time <input class="Date" type="text" name="act_start_day" value="{{(datetime.datetime.utcnow() + datetime.timedelta(hours = user.timezone)).strftime('%d/%m/%Y')}}">
                <input class="Time" type="text" name="act_start_time"><br>
                End time <input class="Date" type="text" name="act_end_day" value="{{(datetime.datetime.utcnow() + datetime.timedelta(hours = user.timezone)).strftime('%d/%m/%Y')}}">
                <input class="Time" type="text" name="act_end_time" value="{{(datetime.datetime.utcnow() + datetime.timedelta(hours = user.timezone)).strftime('%H:%M')}}"><br>
                GMT <input type="text" name="timezone" value="{{'%+2.1f' % user.timezone}}"><br>
                (duration) <input type="text" name="act_duration"> hours <br>
                <input type="submit">
            </form>
        </div>
    </div>

    <div class="Block" id="Energy">
        <h2 class="PanelCategory">Energy</h2>
        <div class="FullSubBlock">
            <h3>Coffee</h3>
            <form action="/inspostactivity" method="post">
                <input type="hidden" name="activity_name" value="coffee">
                <input type="submit" value="I just had coffee!">
            </form>
        </div>
        
        <div class="FullSubBlock">
            <h3>Sleep</h3>
            <form action="/posttimedactivity" method="post">
                <input type="hidden" name="act_name" value="sleep">
                Slept at <input class="Date" type="text" name="act_start_day" value="{{(datetime.datetime.utcnow() + datetime.timedelta(hours = user.timezone - 6.0)).strftime('%d/%m/%Y')}}">, 
                <input class="Time" type="text" name="act_start_time"><br>
                Woke up at <input class="Date" type="text" name="act_end_day" value="{{(datetime.datetime.utcnow() + datetime.timedelta(hours = user.timezone)).strftime('%d/%m/%Y')}}">, 
                <input class="Time" type="text" name="act_end_time" value="{{(datetime.datetime.utcnow() + datetime.timedelta(hours = user.timezone)).strftime('%H:%M')}}"><br>
                GMT <input type="text" name="timezone" value="{{'%+2.1f' % user.timezone}}"><br>
                for <input type="text" name="act_duration"> hours<br>
                <input type="submit">
            </form>
        </div>
        
        <div class="FullSubBlock">
            <h3>Meal</h3>
            <form action="/postmeal" method="post" enctype="multipart/form-data">
                I had <select name="meal_category">
                    <option value="breakfast">Breakfast</option>
                    <option value="lunch">Lunch</option>
                    <option value="dinner">Dinner</option>
                    <option value="supper">Supper</option>
                    <option value="snack">Snack</option>
                </select>
                of <input type="text" name="meal_menu"><br>
                at <input type="text" name="meal_place"><br>
                at this time <input class="Date" type="text" name="meal_day" value="{{(datetime.datetime.utcnow() + datetime.timedelta(hours = user.timezone)).strftime('%d/%m/%Y')}}">
                <input class="Time" type="text" name="meal_time" value="{{(datetime.datetime.utcnow() + datetime.timedelta(hours = user.timezone)).strftime('%H:%M')}}">
                GMT <input type="text" name="timezone" value="{{'%+2.1f' % user.timezone}}"><br>
                and it costed me <input type="text" name="meal_cost">
                <input class="Currency" type="text" name="meal_currency" value="{{user.currency}}"><br>
                Photo <input type="file" name="meal_image"><br>
                <input type="submit">
            </form>
        </div>
    </div>
    
    <div class="Block" id="Hygiene">
        <h2 class="PanelCategory">Hygiene</h2>
        <form action="/postactivity" method="post">
            Shower 
            <input class="Date" type="text" name="activity_day" value="{{(datetime.datetime.today() + datetime.timedelta(hours = user.timezone)).strftime('%d/%m/%Y')}}"> 
            <input class="Time" type="text" name="activity_time" value="{{(datetime.datetime.utcnow() + datetime.timedelta(hours = user.timezone)).strftime('%H:%M')}}">
            GMT <input type="text" name="timezone" value="{{'%+2.1f' % user.timezone}}">
            <input type="hidden" name="activity_name" value="shower"><br>
            <input type="submit">
        </form><br>
    </div>
    
    <div class="Block" id="Expense">
        <h2 class="PanelCategory">Expense</h2>
        <form action="/postexpense" method="post">
            I bought <input type="text" name="exp_name">
            for <input type="text" name="exp_amount">
            <input class="Currency" type="text" name="exp_currency" value="{{user.currency}}"><br>
            file under <input type="text" name="exp_category">
            <input class="Date" type="text" name="exp_when" value="{{(datetime.datetime.utcnow() + datetime.timedelta(hours = user.timezone)).strftime('%d/%m/%Y')}}"><br>
            {% if expense_categories -%}
            <p>Recorded expense categories:</p>
            <div class="CategoryListing"><ul>
                {% for category in expense_categories -%}
                <li>{{category}}
                {% endfor -%}
            </ul></div>
            {% endif -%}
            <input type="submit">
        </form>
    </div>
    
    <div class="Block" id="ExpenseCategories">
        <form action="/categorizeexpense" method="post">
            Recorded expense categories<br>
            <div class="CategoryListing"><ul>
            {% for category in expense_categories -%}
                <li><input type="checkbox" name="public_category" value="{{category}}" {{checked}}>{{category}}
            {% endfor -%}
            </ul></div>
            <input type="submit" value="make public">
        </form>
    </div>

    <div class="Block" id="Travel">
        <h2 class="PanelCategory">Travel</h2>
        <form method="post" action="/posttravel">
            I traveled from <input type="text" name="trv_origin">
            to <input type="text" name="trv_destination"><br>
            I departed at <input class="Date" type="text" name="trv_start_day" value="{{(datetime.datetime.utcnow() + datetime.timedelta(hours = user.timezone)).strftime('%d/%m/%Y')}}">
            <input class="Time" type="text" name="trv_start_time">
            GMT <input type="text" name="start_timezone" value="{{'%+2.1f' % user.timezone}}"><br>
            and arrived at <input class="Date" type="text" name="trv_finish_day" value="{{(datetime.datetime.utcnow() + datetime.timedelta(hours = user.timezone)).strftime('%d/%m/%Y')}}">
            <input class="Time" type="text" name="trv_finish_time" value="{{(datetime.datetime.utcnow() + datetime.timedelta(hours = user.timezone)).strftime('%H:%M')}}">
            GMT <input type="text" name="finish_timezone" value="{{'%+2.1f' % user.timezone}}"><br>
            (it took me <input type="text" name="trv_duration"> minutes)<br>
            {% if places -%}
            <div class="CategoryListing"><ul>
                {% for place in places -%}
                <li>{{place}}
                {% endfor -%}
            </ul></div>
            {% endif -%}
            <input type="submit">
        </form>
    </div>
    
    <div class="Block" id="Distractions">
        <h2 class="PanelCategory">Distraction</h2>
        <div class="FullSubBlock">
            <h3>Register a book</h3>
            <form method="post" action="/postbook" enctype="multipart/form-data">
                <table>
                    <tr>
                        <td>title
                        <td><input type="text" name="title">
                    <tr>
                        <td>author
                        <td><input type="text" name="author">
                    <tr>
                        <td>isbn
                        <td><input type="text" name="isbn">
                    <tr>
                        <td>doi
                        <td><input type="text" name="doi">
                    <tr>
                        <td>start
                        <td><input type="text" name="start" value="{{(datetime.datetime.utcnow() + datetime.timedelta(hours = user.timezone)).strftime('%d/%m/%Y')}}" class="date">
                    <tr>
                        <td>finish
                        <td><input type="text" name="finish" class="date">
                    <tr>
                        <td>active
                        <td><input type="checkbox" name="active" value="True">
                    <tr>
                        <td>cover
                        <td><input type="file" name="image">
                    <tr>
                        <td><input type="submit">
                </table>
            </form>
        </div>
        
        <div class="FullSubBlock">
            <h3>Register a game</h3>
            <form method="post" action="/postgame" enctype="multipart/form-data">
                <table>
                    <tr>
                        <td>title
                        <td><input type="text" name="title">
                    <tr>
                        <td>platform
                        <td><input type="text" name="platform">
                    <tr>
                        <td>start
                        <td><input type="text" name="start" value="{{(datetime.datetime.utcnow() + datetime.timedelta(hours = user.timezone)).strftime('%d/%m/%Y')}}" class="date">
                    <tr>
                        <td>finish
                        <td><input type="text" name="finish" class="date">
                    <tr>
                        <td>active
                        <td><input type="checkbox" name="active" value="True">
                    <tr>
                        <td>cover
                        <td><input type="file" name="image">
                    <tr>
                        <td><input type="submit">
                </table>
            </form>
        </div>
        
        <div class="FullSubBLock">
            <h3>Register a song</h3>
            <form method="post" action="/postmusic">
                <table>
                    <tr>
                        <td>title
                        <td><input type="text" name="title">
                    <tr>
                        <td>artist
                        <td><input type="text" name="artist">
                    <tr>
                        <td>album
                        <td><input type="text" name="album">
                    <tr>
                        <td>year
                        <td><input type="text" name="year">
                    <tr>
                        <td>url
                        <td><input type="text" name="url">
                    <tr>
                        <td><input type="submit">
                </table>
            </form>
        </div>
    </div>
    
    <div class="Block" id="SongList">
        <h2>20 Recently played songs</h2>
        {% if songs -%}
            {% for song in songs -%}
            <div class="FullSubBlock">
                <form action="/reportmusic" method="post">
                    <div>
                        <b>{{song.title}}</b>
                        {%- if song.artist %}, by {{song.artist}}{% endif %}
                        {% if song.year %}({{song.year}}){% endif %}
                        {% if song.album %}on {{song.album}}{% endif %}<br>
                        {% if song.url %}<a href="{{song.url}}">{{song.url}}</a>{% endif %}
                    </div>
                    <div class="Incrementer">
                        <input type="hidden" name="key" value="{{song.key()}}">
                        <input type="submit" value="just listened">
                    </div>
                </form>
            </div>
            {% endfor -%}
        {% else -%}
        <p>No registered song yet</p>
        {% endif -%}
    </div>

    <div class="Block" id="BatchExpense">
        <h2 class="PanelCategory">Batch Expense</h2>
        <div class="CenterBlock"><p>use this format: [dd/mm/yyyy]\t[name]\t[amount]\t[category]</p>
            <form method="post" action="/postbatchexpense">
                <textarea name="batchexpense"></textarea><br>
                <input type="submit">
            </form>
        </div>
    </div>

    <div class="Block" id="BatchActivity">
        <h2 class="PanelCategory">Batch Activity</h2>
        <div class="CenterBlock"><p>use this format: [name]\t[dd/mm/yyyy HH:MM]</p>
            <form method="post" action="/postbatchactivity">
                <textarea name="activities"></textarea><br>
                <input type="submit">
            </form>
        </div>
    </div>

    <div class="Block" id="BatchTimedActivity">
        <h2 class="PanelCategory">Batch Timed Activity</h2>
        <div class="CenterBlock"><p>use this format: [name]\t[dd/mm/yyyy HH:MM (start)]\t[dd/mm/yyyy HH:MM (end)]</p>
            <form method="post" action="/postbatchtimedactivity">
                <textarea name="batchactivities"></textarea><br>
                <input type="submit">
            </form>
        </div>
    </div>
    
    <div class="Block" id="BatchMeal">
        <h2 class="PanelCategory">Batch Meal</h2>
        <div class="CenterBlock"><p>user this format: [dd/mm/yyyy HH:MM]\t[category]\t[menu]</p>
            <form method="post" action="/postbatchmeal">
                <textarea name="meals"></textarea><br>
                <input type="submit">
            </form>
        </div>
    </div>
</div> <!-- close OverWrapper -->
{% endblock %}