{% extends 'basepage.html' %}

{% block content %}
<h1 class="Header" id="PanelHeader">What have you done, {{user.salutation}} {{user.realname}}?</h1>
<div class="Wrapper" id="PanelOverWrapper">
    <div class="PanelWrapper" id="UserMessage">
        <form method="post" action="/postmessage">
            <h2 class="PanelCategory">Tell your stalkers something!</h2>
            <textarea name="user_message" row="4" col="20"></textarea><br>
            <input type="submit">
        </form>
    </div>
    <div class="PanelWrapper" id="GeneralActivity">
        <h2 class="PanelCategory">General Activity</h2>
        <form action="/postactivity" method="post">
            Name <input type="text" name="activity_name"><br>
            Day <input type="text" name="activity_day" value="{{(datetime.datetime.utcnow() + datetime.timedelta(hours = user.timezone)).strftime('%d/%m/%Y')}}"><br>
            Time <input type="text" name="activity_time" value="{{(datetime.datetime.utcnow() + datetime.timedelta(hours = user.timezone)).strftime('%H:%M')}}"><br>
            <input type="submit">
        </form>
    </div>
    
    <div class="PanelWrapper" id="Energy">
        <h2 class="PanelCategory">Energy</h2>
        <form action="/inspostactivity" method="post">
            <input type="hidden" name="activity_name" value="coffee">
            <input type="submit" value="I just had coffee!">
        </form>
        <form action="/posttimedactivity" method="post">
            <input type="hidden" name="act_name" value="sleep">
            Slept at <input type="text" name="act_start_day" value="{{(datetime.datetime.utcnow() + datetime.timedelta(hours = user.timezone - 6.0)).strftime('%d/%m/%Y')}}">, 
            <input type="text" name="act_start_time"><br>
            Woke up at <input type="text" name="act_end_day" value="{{(datetime.datetime.utcnow() + datetime.timedelta(hours = user.timezone)).strftime('%d/%m/%Y')}}">, 
            <input type="text" name="act_end_time" value="{{(datetime.datetime.utcnow() + datetime.timedelta(hours = user.timezone)).strftime('%H:%M')}}"><br>
            for <input type="text" name="act_duration"> hours<br>
            <input type="submit">
        </form>
        <form action="/postmeal" method="post">
            I had <select name="meal_category">
                <option value="breakfast">Breakfast</option>
                <option value="lunch">Lunch</option>
                <option value="dinner">Dinner</option>
                <option value="supper">Supper</option>
                <option value="snack">Snack</option>
            </select>
            of <input type="text" name="meal_menu"><br>
            at <input type="text" name="meal_place"><br>
            at this time <input type="text" name="meal_day" value="{{(datetime.datetime.utcnow() + datetime.timedelta(hours = user.timezone)).strftime('%d/%m/%Y')}}">
            <input type="text" name="meal_time" value="{{(datetime.datetime.utcnow() + datetime.timedelta(hours = user.timezone)).strftime('%H:%M')}}"><br>
            and it costed me <input type="text" name="meal_cost">
            <input type="text" name="meal_currency" value="{{user.currency}}"><br>
            <input type="submit">
        </form>
    </div>
    
    <div class="PanelWrapper" id="Hygiene">
        <h2 class="PanelCategory">Hygiene</h2>
        <form action="/postactivity" method="post">
            Shower 
            <input type="text" name="activity_day" value="{{(datetime.datetime.today() + datetime.timedelta(hours = user.timezone)).strftime('%d/%m/%Y')}}"> 
            <input type="text" name="activity_time" value="{{(datetime.datetime.utcnow() + datetime.timedelta(hours = user.timezone)).strftime('%H:%M')}}">
            <input type="hidden" name="activity_name" value="shower">
        </form><br>
        <form action="/inspostactivity" method="post">
            <input type="hidden" name="activity_name" value="shower">
            <!-- <input type="hidden" name="activity_time" value="{{(datetime.datetime.utcnow() + datetime.timedelta(hours = user.timezone)).strftime('%H:%M')}}">
            <input type="hidden" name="activity_day" value="{{(datetime.datetime.today() + datetime.timedelta(hours = user.timezone)).strftime('%d/%m/%Y')}}"> -->
            <input type="submit" value="I just showered!">
        </form>
        <form action="/inspostactivity" method="post">
            <input type="hidden" name="activity_name" value="shave">
            <!-- <input type="hidden" name="activity_time" value="{{(datetime.datetime.utcnow() + datetime.timedelta(hours = user.timezone)).strftime('%H:%M')}}">
            <input type="hidden" name="activity_day" value="{{(datetime.datetime.today() + datetime.timedelta(hours = user.timezone)).strftime('%d/%m/%Y')}}"> -->
            <input type="submit" value="I just shaved!">
        </form>
        <form action="/inspostactivity" method="post">
            <input type="hidden" name="activity_name" value="cut hair">
            <!-- <input type="hidden" name="activity_time" value="{{(datetime.datetime.utcnow() + datetime.timedelta(hours = user.timezone)).strftime('%H:%M')}}">
            <input type="hidden" name="activity_day" value="{{(datetime.datetime.today() + datetime.timedelta(hours = user.timezone)).strftime('%d/%m/%Y')}}"> -->
            <input type="submit" value="I just got a haircut!">
        </form>
    </div>
    
    <div class="PanelWrapper" id="Expense">
        <h2 class="PanelCategory">Expense</h2>
        <form action="/postexpense" method="post">
            I bought <input type="text" name="exp_name">
            for <input type="text" name="exp_amount">
            <input type="text" name="exp_currency" value="{{user.currency}}">
            file under <input type="text" name="exp_category">
            <input type="text" name="exp_when" value="{{(datetime.datetime.utcnow() + datetime.timedelta(hours = user.timezone)).strftime('%d/%m/%Y')}}">
            <input type="submit">
        </form>
    </div>

    <div class="PanelWrapper" id="Travel">
        <h2 class="PanelCategory">Travel</h2>
        <form method="post" action="/posttravel">
            I traveled from <input type="text" name="trv_origin">
            to <input type="text" name="trv_destination"><br>
            I departed at <input type="text" name="trv_start_day" value="{{(datetime.datetime.utcnow() + datetime.timedelta(hours = user.timezone)).strftime('%d/%m/%Y')}}">
            <input type="text" name="trv_start_time"><br>
            and arrived at <input type="text" name="trv_finish_day" value="{{(datetime.datetime.utcnow() + datetime.timedelta(hours = user.timezone)).strftime('%d/%m/%Y')}}">
            <input type="text" name="trv_finish_time" value="{{(datetime.datetime.utcnow() + datetime.timedelta(hours = user.timezone)).strftime('%H:%M')}}"><br>
            (it took me <input type="text" name="trv_duration"> minutes)<br>
            <input type="submit">
        </form>
    </div>                
</div>

{% endblock %}