{% extends 'basepage.html' %}

{% block content %}
<h2>Comrade {{user.username}}</h2>
<form method="post" enctype="multipart/form-data">
    <table>
        <tr>
            <td>Salutation
            <td><input type="text" name="salutation" value="{{user.salutation}}">
        <tr>
            <td>Real name
            <td><input type="text" name="realname" value="{{user.realname}}">
        <tr>
            <td>Gender
            <td>
                {% if user.gender == 'male' -%}
                    {% set m_checked = 'checked' -%}
                    {% set f_checked = '' -%}
                    {% set u_checked = '' -%}
                {% elif user.gender == 'female' -%}
                    {% set m_checked = '' -%}
                    {% set f_checked = 'checked' -%}
                    {% set u_checked = '' -%}
                {% else %}
                    {% set m_checked = '' -%}
                    {% set f_checked = '' -%}
                    {% set u_checked = 'checked' -%}
                {% endif %}
                <input type="radio" name="gender" value="male" {{m_checked}}>male
                <input type="radio" name="gender" value="female" {{f_checked}}>female
                <input type="radio" name="gender" value="unspecified" {{u_checked}}>unspecified
        <tr>
            <td>email
            <td><input type="text" name="email" value="{{user.email}}">
        <tr>
            <td>timezone
            <td><input type="text" name="timezone" value="{{user.timezone}}">
        <tr>
            <td>currency
            <td><input type="text" name="currency" value="{{user.currency}}">
        <tr>
            <td>photo
            <td><input type="file" name="photo">
        <tr>
            <td><input type="submit" value="save">
    </table>
</form>

<a href="/u/{{user.username}}">Back to your page</a>
            
{% endblock %}