{% extends 'basepage.html' %}

{% block content %}
<h2>Comrade {{user.username}}</h2>
<form method="post">
    <table>
        <tr>
            <td>Salutation
            <td><input type="text" name="salutation" value="{{user.salutation}}">
        <tr>
            <td>Real name
            <td><input type="text" name="realname" value="{{user.realname}}">
        <tr>
            <td>Gender
            <td>
                <input type="radio" name="gender" value="male">male
                <input type="radio" name="gender" value="female">female
                <input type="radio" name="gender" value="unspecified" checked>unspecified
        <tr>
            <td>email
            <td><input type="text" name="email" value="{{user.email}}">
        <tr>
            <td>timezone
            <td><input type="text" name="timezone" value="{{user.timezone}}">
        <tr>
            <td>currency
            <td><input type="text" name="currency" value="{{user.currency}}">
        <tr>
            <td><input type="submit" value="save">
    </table>
</form>

<a href="/u/{{user.username}}">Back to your page</a>
            
{% endblock %}