<!DOCTYPE html>
<head>
  <title>Coffee Table :: Sign up</title>
</head>
<body>
  <h1>Sign up to Coffee Table</h1>
  <form method="post">
    <table>
      <tr>
        <td>user name</td>
        <td><input type="text" name="username"></td>
      </tr>
      <tr>
        <td>password</td>
        <td><input type="password" name="password"></td>
      </tr>
      <tr>
        <td>verify password</td>
        <td><input type="password" name="verify"></td>
      </tr>
      <tr>
        <td>beta key</td>
        <td><input type="text" name="betakey"></td>
      </tr>
      <tr>
        <td><input type="submit" value="sign up"></td>
      </tr>
    </table>
  </form>
</body>