{% extends 'basepage.html' %}

{% block head %}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
    google.load('visualization', '1.0', {'packages':['corechart']});
    google.setOnLoadCallback(drawChart);
    
    function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('number', 'xdata');
        data.addColumn('number', 'ydata');
        
        {% for i in range(10) %}
        data.addRow([{{datax[i]}}, {{datay[i]}}]);
        {% endfor %}
        
        var options = {'width': 500,
                       'height': 300};
                       
        var chart = new google.visualization.BarChart(document.getElementById('SimpleChart'));
        chart.draw(data, options)
    }
</script>
{% endblock %}

{% block content %}
<div id="SimpleChart"></div>
{% endblock %}