{% extends 'basepage.html' %}

{% block content %}
<div class="BlockWrapper" id="PersonalInfo">
    <h2>Too much information on</h2>
    <h1>{{user.salutation}} {{user.realname}}</h1>
    <p>Last seen on {{(user.last_seen + datetime.timedelta(hours = user.timezone)).strftime('%d/%m/%Y, %H:%M')}} UTC {{'%+2.1f' % user.timezone}}</p>
</div>

<div class="BlockWrapper" id="Energy">
    {% set sleep_status = stats.sleep_status(user) -%}
    {% set coffee_status = stats.coffee_status(user) -%}
    {% set meal_status = stats.meal_status(user) -%}
    <p>Woke up at {{sleep_status['wake_time'].strftime('%H:%M')}} after {{'%1.2f' % sleep_status['sleep_hours']}} hours of sleep.</p>
    <p>Most recently had coffee {{'%1.2f' % coffee_status['latest_cup']}} hours ago</p>
    <p>Latest meal was a {{meal_status['latest_category']}} at {{meal_status['meal_time'].strftime('%d/%m/%Y %H:%M')}}, with menu {{meal_status['latest_menu']}}</p>
</div>
{% endblock %}