{% extends 'basepage.html' %}

{% block head %}
<title>{{user.salutation}} {{user.realname}} - Too Much Information!</title>
<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<script type="text/javascript">google.load('visualization','1', {packages:['corechart']});</script>
{% if coffee_stats -%}
{% set dataset = coffee_stats['daily_cups'] -%}
{% set chart = {'y_label': 'cups', 'div_name': 'coffee_chart', 'xspace':'con'} -%}
{% include 'js_timeline_chart.html' %}

{% set dataset = coffee_stats['coffee_histogram'] -%}
{% set chart = {'y_label': 'frequency', 'div_name': 'coffee_histogram', 'title':'Coffee Histogram', 'xspace':'dis'} -%}
{% include 'js_histogram_chart.html' %}
{%- endif %}

{% if sleep_stats -%}
{% set dataset = sleep_stats['sleep_list'] -%}
{% set chart = {'y_label': 'hours', 'div_name': 'sleep_chart', 'xspace':'con'} -%}
{% include 'js_timeline_chart.html' -%}

{% set dataset = sleep_stats['sleep_histogram'] -%}
{% set chart = {'y_label': 'frequency', 'div_name': 'sleep_histogram', 'title': 'Sleep Histogram', 'xspace':'con'} -%}
{% include 'js_histogram_chart.html' -%}
{%- endif %}

{% if hygiene_stats['shower']['histogram'] -%}
{% set dataset = hygiene_stats['shower']['histogram'] -%}
{% set chart = {'y_label': 'frequency', 'div_name': 'shower_histogram', 'title': 'Shower Histogram', 'xspace':'con'} -%}
{% include 'js_histogram_chart.html' -%}
{% endif -%}
{% endblock %}

{% block content %}
<div class="OverWrapper">
<div class="Headline">
    Like what you see? Want to have one? Well, you can't make an account yet, but you can <a href="https://github.com/ryanotron/tmi">fork me on github!</a>
</div>
<div class="BlockWrapper" id="PersonalInfo">
    <h2>Too much information on</h2>
    <h1>{{user.salutation}} {{user.realname}}</h1>
    <div id="UserPhoto">
        <img src="../img?img_key={{user.photo_key}}"></img>
    </div>
    <div id="UserInfo">
        <p>Last seen on {{(user.last_seen + datetime.timedelta(hours = user.timezone)).strftime('%d/%m/%Y, %H:%M')}} UTC {{'%+2.1f' % user.timezone}}</p>
        {% if social_media -%}
        <div id="SocialMedia">
            <h3>Find {{user.salutation}} {{user.realname}} elsewhere! {{user.nom_pronoun.capitalize()}} is...</h3>
            <ul>
            {% for site in social_media -%}
                <li>{%- if site.sm_userpage -%}<a href="{{site.sm_userpage}}">{{site.sm_username}}</a>{%- else -%}{{site.sm_username}} {% endif -%} on <a href="{{site.sm_siteurl}}">{{site.sm_sitename}}</a>
            {%- endfor %}
            </ul>
        </div>
        {%- endif %}
        {% set user_messages = user_messages -%}
        {% if user_messages -%}
        <div id="UserMessage">
            <h3>Latest messages from {{user.salutation}} {{user.realname}}</h3>
            {% for message in user_messages -%}
            <div class="Message">
                on {{message.when.strftime('%d/%m/%Y - %H:%M')}} UTC{{'%+2.1f' % user.timezone}}
                <blockquote>
                {{message.message}}
                </blockquote>
            </div>
            {% endfor-%}
        </div>
        {%- endif -%}
    </div>
</div>

<div class="BlockWrapper" id="Energy">
    <h2>Energy</h2>    
    {% set meal_status = stats.meal_status(user) -%}
    <div class="Sub_BlockWrapper">
        <h3>Sleep</h3>
    {% if sleep_stats -%}
        <p>{{user.salutation}} {{user.realname}} woke up at {{sleep_stats['latest_waketime'].strftime('%H:%M')}} after {{'%2.2f' % sleep_stats['latest_duration']}} hours of sleep. {{user.nom_pronoun}} slept for, on average, {{'%2.2f' % sleep_stats['lastweek_average']}} hours per day last week, and for {{'%2.2f' % sleep_stats['alltime_average']}} hours all time. To maintain {{user.pos_determi}} all time average {{user.salutation}} {{user.realname}} has a sleep debt of {{'%2.2f' % sleep_stats['debt_by_alltime']}} hours.</p>
    {% else -%}
        <p>{{user.salutation}} {{user.realname}} has not recorded any sleep time yet. Perhaps {{user.nom_pronoun}} has cracked the secret for not needing sleep and is cruelly withholding it from us?</p>
    {%- endif %}
        <div class="ChartWrapper">
            <h3>{{user.salutation}} {{user.realname}}'s sleep hours</h3>
            <div id="sleep_chart"></div>
        </div>
        <div class="ChartWrapper">
            <h3>{{user.salutation}} {{user.realname}}'s sleep hours</h3>
            <div id="sleep_histogram"></div>
        </div>
    </div>
    
    <div class="Sub_BlockWrapper">
        <h3>Coffee</h3>
        {% if coffee_stats -%}
            <p>{{user.salutation}} {{user.realname}}'s last cup of coffee was {{'%2.2f' % coffee_stats['last_cup']}} hours ago. Today {{user.nom_pronoun}} has had {{'%2d' % coffee_stats['todays_total']}} cup(s). On average {{user.nom_pronoun}} drinks {{'%1.2f' % coffee_stats['alltime_average']}} cups a day.</p>
        {% else -%}
            <p>{{user.salutation}} {{user.realname}} has not shared {{user.pos_determi}} habits yet. Could {{user.nom_pronoun}} be a milk drinker?</p>
        {%- endif %}

        <div class="ChartWrapper">
            <h3>{{user.salutation}} {{user.realname}}'s daily cup of coffee</h3>
            <div id="coffee_chart"></div>
        </div>
        <div class="ChartWrapper">
            <h3>{{user.salutation}} {{user.realname}}'s daily cup of coffee</h3>
            <div id="coffee_histogram"></div>
        </div>
    </div>
    
    <div class="Sub_BlockWrapper">
        <h3>Meal</h3>
        {% if meal_stats -%}
            <p>The menu of {{user.salutation}} {{user.realname}}'s latest meal was {{meal_stats['latest_meal'].menu}}. {{user.nom_pronoun.capitalize()}} had it {{'%2.2f' % meal_stats['latest_hours_ago']}} hours ago on {{meal_stats['latest_meal'].when.strftime('%d/%m/%Y %H:%M')}}.</p>
            {% if meal_stats['latest_meal'].image -%}
                <div class="ImageContainer">
                    <img src="../img?img_key={{meal_stats['latest_meal'].image}}"></img>
                </div>
            {%- endif %}
            <p>{{user.salutation}} {{user.realname}} tends to have lunch {{'%2.2f' % meal_stats['mu_br_to_lu']}} hours after breakfast, and dinner {{'%2.2f' % meal_stats['mu_lu_to_di']}} hours after lunch.<p>
        {% else %}
            <p>{{user.salutation}} {{user.realname}} has not recorded any meal yet. Perhaps {{user.nom_pronoun}} has discovered the secret of not needing food to survive and is cruelly withholding it from us. Or perhaps {{user.nom_pronoun}} has died of starvation.</p>
        {%- endif %}
    </div>
</div>

<div class="BlockWrapper" id="Hygiene">
    <h2>Hygiene</h2>
    {% if hygiene_stats -%}
        {% if hygiene_stats['shower'] -%}
            <p>{{user.salutation}} {{user.realname}} last showered {{'%2.2f' % hygiene_stats['shower']['latest']}} hours ago. 
            {% if hygiene_stats['shower']['ave_interval'] -%}
                {{user.nom_pronoun.capitalize()}} usually showers every {{'%2.2f' % hygiene_stats['shower']['ave_interval']}} hours.</p>
                <div class="ChartWrapper">
                    <div id="shower_histogram"></div>
                </div>
            {% else %}
                It is the first recorded instance of {{user.salutation}} {{user.realname}} showering.</p>
            {% endif %}
        {% else %}
                <p>{{user.salutation}} {{user.realname}} has not recorded any shower! {{user.salutation}} {{user.realname}} is a stinko!</p>
        {%- endif %}
        
        {% if hygiene_stats['shave'] -%}
            <p>{{user.salutation}} {{user.realname}} last shaved {{'%2.2f' % hygiene_stats['shave']['latest']}} days ago. 
            {% if hygiene_stats['shave']['ave_interval'] -%}
                {{user.nom_pronoun.capitalize()}} usually shaves every {{'%2.2f' % hygiene_stats['shave']['ave_interval']}} days.</p>
            {% else %}
                It is the first recorded instance of {{user.salutation}} {{user.realname}} shaving.</p>
            {% endif %}
        {% else %}
            {% if user.gender == 'male' -%}
                <p>{{user.salutation}} {{user.realname}} is not recorded to have shaved. Let us cheer {{user.pos_determi}} effort to grow a wizard beard</p>
            {% endif %}
        {%- endif %}
        
        {% if hygiene_stats['haircut'] -%}
            <p>{{user.salutation}} {{user.realname}} last got a haircut {{'%2.2f' % hygiene_stats['haircut']['latest']}} days ago. 
            {% if hygiene_stats['haircut']['ave_interval'] -%}
                {{user.nom_pronoun.capitalize()}} usually gets a haircut every {{'%2.2f' % hygiene_stats['haircut']['ave_interval']}} days.</p>
            {% else %}
                It is the first recorded instance of {{user.salutation}} {{user.realname}} getting a haircut.</p>
            {% endif %}
        {% else %}
            <p>{{user.salutation}} {{user.realname}} is not recorded to have had any haircut. Let us cheer {{user.pos_determi}} attempt to grow beautiful long locks</p>
        {%- endif %}
    {%- endif %}
</div>

<div class="BlockWrapper" id="Books">
    <h2>{{user.salutation}} {{user.realname}} is currently reading</h2>
    {% if active_books -%}
        <div class="ActiveBooks">
        {% for book in active_books -%}
            <div class="BookContainer">
            {% if book.image -%}
                <div class="ImageContainer">
                    <img src="../img?img_key={{book.image}}"></img>
                </div>
            {% endif %}
                <div class="BookDescription">
                    {{book.title}} <br> by {{book.author}}
                </div>
            </div>
        {% endfor %}
        </div>
    {% else -%}
        <p>Nothing. {{user.salutation}} {{user.realname}} is not currently reading anything.</p>
    {% endif %}
    {% if inactive_books -%}
        <div class="InactiveBooks">
        {% for book in inactive_books -%}
            <div class="BookContainer">
            {% if book.image -%}
                <div class="ImageContainer">
                    <img src="../img?img_key={{book.image}}"></img>
                </div>
            {% endif %}
                <div class="BookDescription">
                    {{book.title}} <br> by {{book.author}}
                </div>
            </div>
        {% endfor %}
        </div>
    {% else -%}
        <p>Nothing. {{user.salutation}} {{user.realname}} has not read anything.</p>
    {% endif %}
</div>

<div class="BlockWrapper" id="Games">
    <h2>{{user.salutation}} {{user.realname}} is currently playing</h2>
    {% if active_games -%}
        <div class="ActiveGames">
        {% for game in active_games -%}
            <div class="GameContainer">
            {% if game.image -%}
                <div class="ImageContainer">
                    <img src="../img?img_key={{game.image}}"></img>
                </div>
            {% endif %}
                <div class="GameDescripton">
                    {{game.title}} on <br> {{game.platform}}
                </div>
            </div>
        {% endfor %}
        </div>
    {% else -%}
        <p>Nothing. {{user.salutation}} {{user.realname}} is not currently playing anything.</p>
    {% endif %}
    {% if inactive_games -%}
        <div class="InactiveGames">
        {% for game in inactive_games -%}
            <div class="GameContainer">
            {% if game.image -%}
                <div class="ImageContainer">
                    <img src="../img?img_key={{game.image}}"></img>
                </div>
            {% endif %}
                <div class="GameDescripton">
                    {{game.title}} on <br> {{game.platform}}
                </div>
            </div>
        {% endfor %}
        </div>
    {% else -%}
        <p>Nothing. {{user.salutation}} {{user.realname}} has not finished any game.</p>
    {% endif %}
</div>

<div class="BlockWrapper" id="GuestComment">
    <h2>Tell {{user.salutation}} {{user.realname}} something</h2>
    <form class="GuestComment" method="post" action="/postguestmessage">
        Your name: <input type="text" name="guest_name"><br>
        Your message:<br>
        <textarea name="guest_message"></textarea>
        <input type="hidden" name="userid" value="{{user.key().id()}}"><br>
        <input type="submit">
    </form><br>
</div>

<div class="BlockWrapper" id="PrevComments">
    {% set messages = guest_messages -%}
    <h2>What people has told {{user.salutation}} {{user.realname}}</h2>
    {% if messages -%}
        {% for message in messages -%}
            <div class="Message">
            {{message.guestname}} said on {{(message.when + datetime.timedelta(hours = user.timezone)).strftime('%d/%m/%Y %H:%M')}}:
            <blockquote>{{message.message}}</blockquote>
            </div>
        {% endfor -%}
    {% else %}
        Nobody has told {{user.salutation}} {{user.realname}} anything yet. Be the first!
    {% endif %}
</div>
</div>
    
{% endblock %}